@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Application Version Badge </p>

    <img src="/version/badge/EntryAssemblyVersion?color=Blue&displayName=Version" />
</div>
